@import "tailwindcss";
::-webkit-scrollbar {
  border-radius: 2%;
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #9ca8b8; /* slate-500 */
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #8a97a9; /* slate-600 */
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #64748b transparent;
}